outputMutation
astor-classpath.txt
Examples/BugApp2/.gradle/
Examples/BugApp2/.idea/
Examples/BugApp2/build/
Examples/BugApp2/app/build/
Examples/BugApp2/local.properties

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
**/.settings/
**/.project
**/.classpath
**/.gitignore

/.settings/
/.classpath
/.DS_Store
/.project
/spooned/